<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.PaymentCallbackMapper">

    <resultMap id="BaseResultMap" type="com.app.pojo.entity.PaymentCallbackEntity">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="payment_order_id" jdbcType="BIGINT" property="paymentOrderId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="payment_channel" jdbcType="VARCHAR" property="paymentChannel"/>
        <result column="channel_transaction_no" jdbcType="VARCHAR" property="channelTransactionNo"/>
        <result column="callback_event_id" jdbcType="VARCHAR" property="callbackEventId"/>
        <result column="callback_content_hash" jdbcType="VARCHAR" property="callbackContentHash"/>
        <result column="raw_payload" jdbcType="VARCHAR" property="rawPayload"/>
        <result column="signature_value" jdbcType="VARCHAR" property="signatureValue"/>
        <result column="signature_verified" jdbcType="TINYINT" property="signatureVerified"/>
        <result column="callback_amount_cent" jdbcType="BIGINT" property="callbackAmountCent"/>
        <result column="callback_currency" jdbcType="VARCHAR" property="callbackCurrency"/>
        <result column="callback_status" jdbcType="VARCHAR" property="callbackStatus"/>
        <result column="process_status" jdbcType="VARCHAR" property="processStatus"/>
        <result column="failure_reason" jdbcType="VARCHAR" property="failureReason"/>
        <result column="received_time" jdbcType="TIMESTAMP" property="receivedTime"/>
        <result column="processed_time" jdbcType="TIMESTAMP" property="processedTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ct.id, ct.payment_order_id, ct.order_no, ct.payment_channel, ct.channel_transaction_no, ct.callback_event_id, ct.callback_content_hash, ct.raw_payload, ct.signature_value, ct.signature_verified, ct.callback_amount_cent, ct.callback_currency, ct.callback_status, ct.process_status, ct.failure_reason, ct.received_time, ct.processed_time, ct.create_by, ct.create_time, ct.update_by, ct.update_time
    </sql>

</mapper>
